<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Smart-TODO-List - Home Page</title>

    <!-- External CSS -->

    <!-- App CSS -->

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/incompleteClient.js"></script>

  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <div>
        <span>APP NAME</span>
      </div>
    </nav>

    <!-- Page-specific (main) content here -->
    <main class="container">
      <section id="movies-container">Incomplete</section>
    </main>

    <main class="container">
      <section id="task-container">
        <% for (task of tasks) { %>
          <div class="form-control">
            <input type="checkbox" class="checkbox incomplete" id="<%= task.id %>" name="<%= task.category %>" value="<%= task.description %>">
            <%= task.description %>
          </div>
              <% } %>
          <%- include('partials/_footer') %>
      </section>
    </main>
  </body>
  <%- include('partials/_footer') %>
</html>

