<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - Smart-TODO-List</title>
    <!-- SCRIPTS -->
  </head>

  <body>
    <!-- <%- include('partials/_header') %> -->

    <h2>PROFILE PAGE</h2>

    <div>
      CURRENT EMAIL:
      <%= email %>

      <br>
      CURRENT ID:
      <%= user_id %>

    </div>

    <div>
      <form action="/edit-user" method="POST" id="editEmailForm">
        <input type="text" id="editEmailFormText" value="<%= email %>" name="email"></input>
        <button type="submit" id="editEmailSubmit">+</button>
      </form>
    </div>



  </body>
  <%- include('partials/_footer') %>
</html>
